# macOS
.DS_Store

# Java / Spring Boot
*.class
*.jar
*.war
*.log
/target/
.gradle/
build/

# gradle-wrapper는 반드시 포함시켜야 하니까 예외 추가
!android/gradle/wrapper/gradle-wrapper.jar

# Android Studio
.idea/
*.iml
local.properties
.cxx/
*.keystore
!debug.keystore
android/app/build/

# React Native (CLI)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.expo/
*.DS_Store

# iOS (만약 추후에 iOS 대응 시)
ios/Pods/
*.xcuserstate

# 환경변수 파일
.env
.env.*

# 결과물 / 바이너리
*.apk
*.ipa

# 테스트 / 커버리지
coverage/
